$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$yellow: #ff0;
$white: #fff;

body {
  background-color: $yellow;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  padding: 0 0 4%;
}

h4 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 700;
}

ul {
  font-size: 1.5em;
  list-style: none;
  padding: 0 0 12%;
  text-align: center;
}

p {
  font-size: 1.5em;
  font-weight: 700;
}

.hidden {
  display: none;
  padding: 10%;
  vertical-align: middle;
 }

.right-btn {
  font-size: 1em;
  font-weight: 700;
  height: 3em;
  margin: 5%;
  padding: .5em;
}

.center {
  padding: 0 0 5%;
  text-align: center;
}

.submit {
  background-color: $white;
  border: .5em;
  font-size: 3em;
  font-weight: 700;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  margin: 1%;
  padding: 1% 2%;
}

.search,
.home {
  margin: 2% 0;
}
